/* Publish by EComposer at 2024-06-30 16:03:16*//**ECOM-INSERT-CSS**/
                .ecom-column {
                    position: relative;
                    /* display: flex; responsive generate display block */
                }
                .ecom-column>.core__column--wrapper {
                    align-items: flex-start; /* fix tam de mn lam layout */
                    display: flex;
                }
                .ecom-column:hover {
                    z-index: 1;
                }

                .ecom-column__overlay .ecom-overlay {
                    pointer-events: none;
                }

                .ecom-column__overlay > .ecom-overlay, .ecom-column__overlay .ecom-video-background-youtube {
                    position: absolute;
                    inset: 0;
                }

                @media only screen and (min-width: 768px) {
                    .ecom-column>.core__column--wrapper {
                        height: 100%;
                    }
                }
                .ecom-row {
                    width: 100%;
                    position: relative;
                }
                .ecom-video-background-youtube-wrapper {
                    overflow: hidden
                }
                .ecom-section__overlay > .ecom-overlay, .ecom-section__overlay .ecom-video-background-youtube, .ecom-video-background-youtube-wrapper{
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                }
                .ecom-row:not(.ecom-section) {
                    float: left;
                }
                .ecom-row.ecom-section {
                    clear: both;
                }
                .ecom-row:hover {
                    z-index: 1;
                }
                .ecom-row>div.core__row--columns.core__row--full {
                    max-width: 100%;
                }
                @media (min-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { height: 300%; top: -100%; }
                }
                @media (max-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { width: 300%; left: -100%; }
                }
                @supports not (aspect-ratio: 16 / 9) {
                    .ecom-video-background-youtube:before {
                        display: block;
                        content: "";
                        width: 100%;
                        padding-top: 56.25%;
                    }
                    .ecom-video-background-youtube .ecom-video-background {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    .ecom-video-background {
                        -o-object-fit: unset !important;
                        object-fit: unset !important;
                    }
                }
                @media (max-width: 767px) {
                    .ecom-section__video-bg .ecom-video-background-youtube {
                        display: none;
                    }
                }
                
                .ecom__text--dropcap:first-letter {
                    font-size: 40px;
                    color: #2bcf19;
                    display:inline-flex;
                    border:1px solid #1100ff;
                    float:left;
                    line-height:1;
                }
                .ecom__text--dropcap.has-drop-cap-view-default:first-letter {
                    border:none;
                }
                body[ecom-loaded] .ecom-sections .element__text a {
                    cursor: auto;
                }
                .text-content.ecom-html {
                    overflow: hidden;
                    position: relative;
                }

                .ecom-text--is-mark::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 150px;
                    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
                    pointer-events: none;
                }

                .ecom-text_view-more-btn,
                .ecom-text_view-less-btn {
                    display: flex;
                    background: none;
                    outline: none;
                    border: none;
                    align-items: center;
                }

                .ecom__element--button-icon {
                    display: flex;
                    align-items: center;
                }

                .ecom-text_view-more-btn svg, .ecom-text_view-less-btn svg {
                    width: 16px;
                    color: #fff;
                }
            
                    .ecom-element-button.ecom-button-default{
                        display:flex;
                    }
                    a.ecom__element--button{
                        display: inline-flex;
                        align-items: center;
                        text-decoration: none;
                        text-align:center
                    }
                    .ecom__element--button-icon{
                        display:inline-flex;
                        color:inherit;
                    }
                    .ecom__element--button-icon svg{
                        width:24px;
                        height:auto
                    }
                
                  /**
                   * EComposer Element Slider
                   */
                  .ecom-elements-slider {
                    overflow: hidden;
                  }
                  .ecom-swiper-flip .ecom-swiper-slide, .ecom-swiper-fade .ecom-swiper-slide {
                    pointer-events: auto !important;
                  }
                  .ecom-swiper-fade .ecom-box-active {
                    z-index: 99
                  }
                  body[ecom-loaded] .ecom-elements-slider {
                    overflow: unset;
                  }
                  .ecom-swiper-creative.ecom-slider .ecom-swiper-wrapper{
                    transform: translateX(0) !important;
                  }
                  .ecom-slider__image--link {
                      position: absolute;
                      inset: 0;
                      display: block !important;
                      opacity: 0;
                      z-index: 100
                  }
                  .ecom-slider--container .ecom-swiper-vertical.ecom-slider-not-custom-height .ecom-swiper-wrapper {
                    height: 640px !important;
                  }
                  .ecom-slider--container .ecom-swiper-vertical~.ecom-swiper-navigation-position[data-position="center"] .ecom-swiper-button {
                    transform: translateX(-50%);
                    left: 50%;
                    width: fit-content;
                    height: fit-content;
                  }
                  .ecom-slider--container .ecom-swiper-vertical~.ecom-swiper-navigation-position[data-position="center"] .ecom-swiper-button.ecom-swiper-button-prev {
                    top: 0;
                    bottom: unset;
                  }
                  .ecom-slider--container .ecom-swiper-vertical~.ecom-swiper-navigation-position[data-position="center"] .ecom-swiper-button.ecom-swiper-button-next {
                    bottom: 0;
                    top: unset;
                  }
                  .ecom-slider--container .ecom-swiper-autoheight.ecom-swiper-horizontal .ecom-swiper-slide, .ecom-slider--container .ecom-swiper-horizontal .ecom-swiper-wrapper {
                    height: 100% !important;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position {
                    flex-direction: column !important;
                    position: absolute;
                    height: fit-content;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="top_left"] {
                    top: 20px;
                    left: 20px;
                    bottom: unset;
                    right: unset;
                    transform: none;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="top_right"] {
                    top: 20px;
                    right: 20px;
                    bottom: unset;
                    left: unset;
                    transform: none;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="top_center"] {
                    left: 50%;
                    right: unset;
                    transform: translateX(50%);
                    top: 0;
                    bottom: unset;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="bottom_left"] {
                    bottom: 20px;
                    left: 20px;
                    right: unset;
                    top: unset;
                    transform: none;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="bottom_right"] {
                    bottom: 20px;
                    right: 20px;
                    left: unset;
                    top: unset;
                    transform: none;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="bottom_center"] {
                    left: 50%;
                    right: unset;
                    transform: translateX(-50%);
                    top: unset;
                    bottom: 0;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="center_right"] {
                    bottom: unset;
                    left: unset;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                  .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position="center_left"] {
                    bottom: unset;
                    left: 20px;
                    right: unset;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                  .ecom-slider__has-link .ecom-content-item__container {
                    pointer-events: none;
                  }
                  .ecom-swiper-navigation-position{
                      display:flex;
                  }
                  .ecom-swiper-navigation-position button{
                      margin:0
                  }
                  .ecom-swiper-navigation button{
                      position:unset;
                      margin:0
                  }
                  .ecom-slider--container {
                      opacity: 0;
                      position: relative;
                      display: flex;
                      flex-direction: column;
                  }
                  .ecom-slider--container.ecom-swiper-initialized-wrapper {
                      opacity: 1;
                  }
                  .ecom-swiper-pagination-bullet:only-child {
                      opacity: none
                  }
                  .ecom-swiper-button svg{
                      width:24px;
                      height:24px;
                  }
                  .ecom-flex-center, .ecom-swiper-navigation {
                      display: flex;
                      align-items: center;
                  }
                  .ecom-swiper-navigation{
                      justify-content: center
                  }
                  .ecom-slider img {
                      display: block
                  }
                  .ecom-slider--container .ecom-swiper-pagination-bullet img{
                      display: block;
                      width: 100%;
                      height: 100%;
                      object-fit: cover
                  }
                  .ecom-slider--container .ecom-swiper-button-next:after,
                  .ecom-slider--container .ecom-swiper-button-prev:after {
                      content: none;
                  }
                  .ecom-slider--container .ecom-swiper-navigation[data-navigator-type="combine"] .ecom-swiper-button-next,
                  .ecom-slider--container .ecom-swiper-navigation[data-navigator-type="combine"] .ecom-swiper-button-prev {
                      position: static;
                      margin: 0;
                  }
                  .ecom-slider--container .ecom-swiper-button-next,
                  .ecom-slider--container .ecom-swiper-button-prev {
                      border: 0;
                      background: transparent;
                      width: auto;
                      height: auto;
                      padding: 5px;
                      color: #444;
                      /*transform: translateY(-50%);*/
                  }
                  .ecom-swiper-navigation-position[data-position="center"] .ecom-swiper-button.ecom-swiper-button-next,
                  .ecom-swiper-navigation-position[data-position="center"] .ecom-swiper-button.ecom-swiper-button-prev {
                    transform: translateY(-50%);
                  }
                  .ecom-slider--container .ecom-swiper-pagination {
                      position: relative;
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center
                  }
                  .ecom-slider--container .ecom-swiper-pagination-bullet {
                      width: 15px;
                      height: 15px;
                      opacity: 1;
                      overflow: hidden;
                  }
                  .ecom-slider--container .ecom-swiper-pagination-bullet,
                  .ecom-slider--container .ecom-swiper-pagination-bullet-active{
                      background-clip: content-box;
                      padding: 1px;
                      box-sizing: content-box !important;
                      background-color: currentColor;
                  }
                   .ecom-swiper-container-horizontal>.ecom-swiper-pagination-bullets{
                      width:auto;
                  }
                  .ecom-slider--container .ecom-swiper-slide{
                      position: relative;
                  }
                  .ecom-swiper-slide div.core__blocks>div.core__blocks--body{
                      display:flex
                  }
                  .ecom-content-item__container {
                      width: 100%;
                      z-index: 99;
                  }
                  .ecom-slider:not(.ecom-swiper-initialized):not(.ecom-swiper-container-initialized) {
                    opacity: 0
                  }
                  .ecom-swiper-slide .ecom-content-item {
                      display: flex;
                      justify-content: center;
                  }
                  .ecom-image-background{
                      position:absolute;
                      top:0;
                      left:0;
                      height: 100% !important;
                      width: 100%;
                  }
                  .ecom-swiper-slide .ecom-slider__image--wrapper .ecom-image-background img{
                      position:absolute;
                      top:0;
                      left:0;
                      height: 100% !important;
                      width: 100%;
                      object-fit: cover;
                      object-position: center center;
                  }

                  .ecom-overlay {
                      display: block;
                      position: absolute;
                      inset: 0;
                  }

                  .ecom-elements-slider .ecom-overlay span:not(.ecom-video-icon-play) {
                      opacity: 0;
                      visibility: hidden;
                  }

                  .ecom-slider--container .ecom-swiper-pagination-bullets, .ecom-swiper-pagination-custom, .ecom-swiper-pagination-fraction {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      bottom: 0;
                  }

                  .ecom-slider--container .ecom-swiper-pagination-bullets, .ecom-swiper-pagination-custom, .ecom-swiper-pagination-fraction {
                      bottom: 0;
                  }
                  .ecom-content-item {
                      height: 100%;
                  }
                  .ecom-slider--container .ecom-swiper-navigation[data-navigator-type="classic"] .ecom-swiper-pagination,
                  .ecom-slider--container .ecom-swiper-navigation:not([data-navigator-type]) .ecom-swiper-pagination {
                      width:100%
                  }
                  .ecom-transition-Bottom2Top, .ecom-transition-Top2Bottom, .ecom-transition-Left2Right, .ecom-transition-Right2Left {
                      transform: translateY(40px);
                      -webkit-transform: translateY(40px);
                      -moz-transform: translateY(40px);
                      transition: .4s cubic-bezier(.44, .13, .48, .87) .3s;
                      -webkit-transition: .4s cubic-bezier(.44, .13, .48, .87) .3s;
                      opacity: 0;
                  }
                  .ecom-transition-Top2Bottom {
                      transform: translateY(-40px);
                      -webkit-transform: translateY(-40px);
                      -moz-transform: translateY(-40px);
                  }
                  .ecom-transition-Left2Right {
                      transform: translateX(-40px);
                      -webkit-transform: translateX(-40px);
                      -moz-transform: translateX(-40px);
                  }
                  .ecom-transition-Right2Left {
                      transform: translateX(40px);
                      -webkit-transform: translateX(40px);
                      -moz-transform: translateX(40px);
                  }
                  .ecom-swiper-slide.ecom-box-active .ecom-transition-Bottom2Top, .ecom-swiper-slide.ecom-box-active .ecom-transition-Top2Bottom, .ecom-swiper-slide.ecom-box-active .ecom-transition-Left2Right, .ecom-swiper-slide.ecom-box-active .ecom-transition-Right2Left {
                      transform: translateY(0);
                      -webkit-transform: translateY(0);
                      -moz-transform: translateY(0);
                      opacity: 1;
                  }
                  .ecom-swiper-pagination-bullet {
                      position: relative;
                  }
                  .ecom-swiper-pagination-bullet:after {
                      content: '';
                      position: absolute;
                      bottom: 0;
                      height: 0;
                      left: 0;
                      width: 100%;
                      box-shadow: 0 0 1px #fff;
                      -webkit-transition: height .3s;
                      transition: height .5s;
                  }
                  .ecom-swiper-navigation-position .ecom-swiper-button {
                    position: var(--ecom-position);
                  }
                  .ecom-swiper-effect-cube .ecom-image-background img {
                    /* visibility: visible; */
                  }
                  .ecom-autoplay-progress {
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                    z-index: 10;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    color: #000;
                  }

                  .ecom-autoplay-progress svg {
                    --progress: 0;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    stroke-width: 4px;
                    color: #1ced8f;
                    fill: none;
                    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
                    stroke-dasharray: 125.6;
                    transform: rotate(-90deg);
                  }
                  .ecom-swiper-slide .ecom-slider__image--wrapper .ecom-image-background img {
                      object-position: var(--ecom-object-position);
                      object-fit: var(--ecom-object-fit);
                    }
                  @media (max-width: 1024px) {
                    .ecom-swiper-slide .ecom-slider__image--wrapper .ecom-image-background img {
                      object-position: var(--ecom-object-position-tablet);
                      object-fit: var(--ecom-object-fit-tablet);
                    }
                    .ecom-swiper-button {
                      position: var(--ecom-position__tablet);
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="top_left"] {
                      top: 20px;
                      left: 20px;
                      bottom: unset;
                      right: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="top_right"] {
                      top: 20px;
                      right: 20px;
                      bottom: unset;
                      left: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="top_center"] {
                      left: 50%;
                      right: unset;
                      transform: translateX(50%);
                      top: 0;
                      bottom: unset;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="bottom_left"] {
                      bottom: 20px;
                      left: 20px;
                      right: unset;
                      top: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="bottom_right"] {
                      bottom: 20px;
                      right: 20px;
                      left: unset;
                      top: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="bottom_center"] {
                      left: 50%;
                      right: unset;
                      transform: translateX(-50%);
                      top: unset;
                      bottom: 0;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="center_right"] {
                      bottom: unset;
                      left: unset;
                      right: 20px;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-tablet="center_left"] {
                      bottom: unset;
                      left: 20px;
                      right: unset;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                  }
                  @media (max-width: 768px) {
                    .ecom-swiper-slide .ecom-slider__image--wrapper .ecom-image-background img {
                      object-position: var(--ecom-object-position-mobile);
                      object-fit: var(--ecom-object-fit-mobile);
                    }
                    .ecom-swiper-button {
                      position: var(--ecom-position__mobile);
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="top_left"] {
                      top: 20px;
                      left: 20px;
                      bottom: unset;
                      right: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="top_right"] {
                      top: 20px;
                      right: 20px;
                      bottom: unset;
                      left: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="top_center"] {
                      left: 50%;
                      right: unset;
                      transform: translateX(50%);
                      top: 0;
                      bottom: unset;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="bottom_left"] {
                      bottom: 20px;
                      left: 20px;
                      right: unset;
                      top: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="bottom_right"] {
                      bottom: 20px;
                      right: 20px;
                      left: unset;
                      top: unset;
                      transform: none;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="bottom_center"] {
                      left: 50%;
                      right: unset;
                      transform: translateX(-50%);
                      top: unset;
                      bottom: 0;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="center_right"] {
                      bottom: unset;
                      left: unset;
                      right: 20px;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                    .ecom-slider--container .ecom-swiper-pagination-vertical.ecom-swiper-pagination-position[data-position-mobile="center_left"] {
                      bottom: unset;
                      left: 20px;
                      right: unset;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                  }
              
@keyframes shake{from,to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.ecom-core.ecom-zoyrm5xip3{width: 100%;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-zoyrm5xip3{width: 100%;}}.ecom-core.ecom-il4igj0j9jr .ecom-slider--container{padding-left: calc((100% - 100%) / 2);padding-right: calc((100% - 100%) / 2);}.ecom-core.ecom-il4igj0j9jr .ecom-content-item{align-content: center;align-items: center;display: flex;}.ecom-core.ecom-il4igj0j9jr .ecom-swiper-pagination-position{justify-content: center;align-items: center;}.ecom-core.ecom-il4igj0j9jr .ecom-swiper-slide{animation-duration: 5000ms !important;background-color: transparent;padding-top: 130px;padding-bottom: 145px;}.ecom-core.ecom-il4igj0j9jr .ecom-swiper-slide:hover{background-color: transparent;}.ecom-core.ecom-il4igj0j9jr .ecom-swiper-slide.ecom-box-active{background-color: transparent;}.ecom-core.ecom-il4igj0j9jr .ecom-slider--container .ecom-swiper-pagination-bullet{width: 8px;min-width: 8px;height: 8px;background-color: #fff;}.ecom-core.ecom-il4igj0j9jr .ecom-slider--container .ecom-swiper-pagination-bullet:hover{background-color: rgba(222, 29, 29, 0.6);}.ecom-core.ecom-il4igj0j9jr .ecom-slider--container .ecom-swiper-pagination-bullet.ecom-swiper-pagination-bullet-active{background-color: rgba(222, 29, 29, 0.6);border-style: solid;border-width: 1px;border-color: rgba(222, 29, 29, 0.6);}.ecom-core.ecom-il4igj0j9jr .ecom-slider--container .ecom-swiper-pagination .ecom-swiper-pagination-bullet{margin: -50px 4px 30px 4px;padding: 5px;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-il4igj0j9jr .ecom-swiper-slide{padding-top: 50px;padding-bottom: 50px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-il4igj0j9jr .ecom-swiper-slide{padding-top: 50px;padding-bottom: 50px;}}.ecom-core.ecom-sng5g8bio4q>div.core__row--columns{max-width: 1230px;justify-content: center;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-sng5g8bio4q > div.core__row--columns{flex-direction: row !important;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-sng5g8bio4q > div.core__row--columns{flex-direction: column-reverse !important;}}.ecom-core.ecom-vgvrj0120wl{width: 60%;}.ecom-core.ecom-vgvrj0120wl>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-items: center;align-content: center;}.ecom-core.ecom-vgvrj0120wl>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: center;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-vgvrj0120wl>div.core__column--wrapper>div.core__blocks>div.core__blocks--body>div.ecom-block.elmspace:not(:first-child){margin-top: 0px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-vgvrj0120wl{width: 100%;}.ecom-core.ecom-vgvrj0120wl>div.core__column--wrapper>div.core__blocks>div.core__blocks--body>div.ecom-block.elmspace:not(:first-child){margin-top: 0px;}}@media screen and (max-width: 767px) and (min-width: 101px){html body .ecom-core.ecom-un8xrirxbas .ecom-core.ecom-vgvrj0120wl>div.core__column--wrapper{padding-right: 15px !important;padding-left: 15px !important;}}.ecom-core.ecom-bpqveneed44 .ecom-button-icon{order: -1;}.ecom-core.ecom-bpqveneed44 .ecom__element--button{gap: 10px;}.ecom-core.ecom-bpqveneed44 .ecom-button-default{justify-content: center;}.ecom-core.ecom-bpqveneed44 .ecom__element--button{font-size: 25px;padding: 10px 25px 10px 15px;}.ecom-core.ecom-bpqveneed44 .ecom__element--button:hover{color: #ffffff;background-color: #0a0a0a;border-radius: 0px;}.ecom-core.ecom-bpqveneed44 .ecom__element--button.animated{animation-name: shake;;animation-duration: .75s;;}.ecom-core.ecom-bpqveneed44{margin-top: 25px !important;}.ecom-core.ecom-qgenea6u83g .ecom-text--more-actions button ,.ecom-core.ecom-qgenea6u83g .ecom-text--less-actions button{gap: 6px;}.ecom-core.ecom-qgenea6u83g .text-content,.ecom-core.ecom-qgenea6u83g  .text-content a,.ecom-core.ecom-qgenea6u83g  .text-content p,.ecom-core.ecom-qgenea6u83g  .text-content span{text-align: center;color: #fff;}.ecom-core.ecom-qgenea6u83g .text-content,.ecom-core.ecom-qgenea6u83g .text-content a,.ecom-core.ecom-qgenea6u83g  .text-content a,.ecom-core.ecom-qgenea6u83g  .text-content a a,.ecom-core.ecom-qgenea6u83g  .text-content p,.ecom-core.ecom-qgenea6u83g  .text-content p a,.ecom-core.ecom-qgenea6u83g  .text-content span,.ecom-core.ecom-qgenea6u83g  .text-content span a{font-size: 20px;font-weight: 100;text-transform: none;font-style: normal;text-decoration: none;line-height: 1.3em;}.ecom-core.ecom-qgenea6u83g .ecom-text_view-more-btn{justify-content: flex-start;text-decoration: underline;font-size: none;color: #ffffff;background-color: #0691b1;border-radius: 2px;padding-top: 5px;padding-bottom: 5px;}.ecom-core.ecom-qgenea6u83g .ecom-text_view-more-btn:hover{background-color: rgba(6, 145, 177, 0.69);}.ecom-core.ecom-qgenea6u83g .ecom-text_view-less-btn{text-decoration: underline;color: #ffffff;background-color: #0691b1;border-radius: 2px;padding-top: 5px;padding-bottom: 5px;}.ecom-core.ecom-qgenea6u83g .ecom-text_view-less-btn:hover{background-color: rgba(6, 145, 177, 0.69);}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-qgenea6u83g .text-content,.ecom-core.ecom-qgenea6u83g .text-content a,.ecom-core.ecom-qgenea6u83g  .text-content a,.ecom-core.ecom-qgenea6u83g  .text-content a a,.ecom-core.ecom-qgenea6u83g  .text-content p,.ecom-core.ecom-qgenea6u83g  .text-content p a,.ecom-core.ecom-qgenea6u83g  .text-content span,.ecom-core.ecom-qgenea6u83g  .text-content span a{font-size: 17px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-qgenea6u83g .text-content,.ecom-core.ecom-qgenea6u83g .text-content a,.ecom-core.ecom-qgenea6u83g  .text-content a,.ecom-core.ecom-qgenea6u83g  .text-content a a,.ecom-core.ecom-qgenea6u83g  .text-content p,.ecom-core.ecom-qgenea6u83g  .text-content p a,.ecom-core.ecom-qgenea6u83g  .text-content span,.ecom-core.ecom-qgenea6u83g  .text-content span a{font-size: 15px;}}.ecom-core.ecom-qgenea6u83g{margin-top: 10px !important;padding-bottom: 0px !important;width: 70%;max-width:70%;}.ecom-core.ecom-qgenea6u83g.ecom-animated{animation-name: fadeInUp;;animation-duration: .75s;;animation-delay: 600ms;transition-delay: 600ms;transition-property: opacity;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-qgenea6u83g{margin-top: 0px !important;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-qgenea6u83g{margin-top: 10px !important;width: 260px;max-width:260px;}}.ecom-core.ecom-am7jmcuwt5 .ecom-text--more-actions button ,.ecom-core.ecom-am7jmcuwt5 .ecom-text--less-actions button{gap: 6px;}.ecom-core.ecom-am7jmcuwt5 .text-content,.ecom-core.ecom-am7jmcuwt5  .text-content a,.ecom-core.ecom-am7jmcuwt5  .text-content p,.ecom-core.ecom-am7jmcuwt5  .text-content span{text-align: center;color: #fff;}.ecom-core.ecom-am7jmcuwt5 .text-content,.ecom-core.ecom-am7jmcuwt5 .text-content a,.ecom-core.ecom-am7jmcuwt5  .text-content a,.ecom-core.ecom-am7jmcuwt5  .text-content a a,.ecom-core.ecom-am7jmcuwt5  .text-content p,.ecom-core.ecom-am7jmcuwt5  .text-content p a,.ecom-core.ecom-am7jmcuwt5  .text-content span,.ecom-core.ecom-am7jmcuwt5  .text-content span a{font-weight: 700;font-size: 50px;line-height: 1.2em;text-decoration: none;font-style: normal;text-transform: uppercase;}.ecom-core.ecom-am7jmcuwt5 .ecom-text_view-more-btn{justify-content: flex-start;text-decoration: underline;font-size: none;padding-top: 5px;padding-bottom: 5px;}.ecom-core.ecom-am7jmcuwt5 .ecom-text_view-less-btn{text-decoration: underline;padding-top: 5px;padding-bottom: 5px;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-am7jmcuwt5 .text-content,.ecom-core.ecom-am7jmcuwt5 .text-content a,.ecom-core.ecom-am7jmcuwt5  .text-content a,.ecom-core.ecom-am7jmcuwt5  .text-content a a,.ecom-core.ecom-am7jmcuwt5  .text-content p,.ecom-core.ecom-am7jmcuwt5  .text-content p a,.ecom-core.ecom-am7jmcuwt5  .text-content span,.ecom-core.ecom-am7jmcuwt5  .text-content span a{font-size: 35px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-am7jmcuwt5 .text-content,.ecom-core.ecom-am7jmcuwt5 .text-content a,.ecom-core.ecom-am7jmcuwt5  .text-content a,.ecom-core.ecom-am7jmcuwt5  .text-content a a,.ecom-core.ecom-am7jmcuwt5  .text-content p,.ecom-core.ecom-am7jmcuwt5  .text-content p a,.ecom-core.ecom-am7jmcuwt5  .text-content span,.ecom-core.ecom-am7jmcuwt5  .text-content span a{font-size: 29px;}}.ecom-core.ecom-am7jmcuwt5{margin-top: 26px !important;animation-duration: 600ms !important;}.ecom-core.ecom-am7jmcuwt5.ecom-animated{animation-name: zoomIn;;animation-duration: .75s;;animation-duration: 600ms !important;animation-delay: 400ms;transition-delay: 400ms;transition-property: opacity;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-am7jmcuwt5{margin-top: 20px !important;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-am7jmcuwt5{margin-top: 0px !important;}}.ecom-core.ecom-un8xrirxbas>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}.ecom-core.ecom-un8xrirxbas{background-color: #fff;}

