/* Publish by EComposer at 2024-06-30 16:03:17*//**ECOM-INSERT-CSS**/
                .ecom-column {
                    position: relative;
                    /* display: flex; responsive generate display block */
                }
                .ecom-column>.core__column--wrapper {
                    align-items: flex-start; /* fix tam de mn lam layout */
                    display: flex;
                }
                .ecom-column:hover {
                    z-index: 1;
                }

                .ecom-column__overlay .ecom-overlay {
                    pointer-events: none;
                }

                .ecom-column__overlay > .ecom-overlay, .ecom-column__overlay .ecom-video-background-youtube {
                    position: absolute;
                    inset: 0;
                }

                @media only screen and (min-width: 768px) {
                    .ecom-column>.core__column--wrapper {
                        height: 100%;
                    }
                }
                /*.ecom-parallax-background {
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    transition: background-position 0.2s linear;
                    background-repeat: inherit !important;
                }*/
                .ecom-use-parallax {
                    background: unset !important;
                }
                .ecom-parallax-background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    overflow: hidden;
                }
                .ecom-parallax-background img {
                    object-fit: cover;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,0);
                    pointer-events: none;
                }
                .ecom-row {
                    width: 100%;
                    position: relative;
                }
                .ecom-video-background-youtube-wrapper {
                    overflow: hidden
                }
                .ecom-section__overlay > .ecom-overlay, .ecom-section__overlay .ecom-video-background-youtube, .ecom-video-background-youtube-wrapper{
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                }
                .ecom-row:not(.ecom-section) {
                    float: left;
                }
                .ecom-row.ecom-section {
                    clear: both;
                }
                .ecom-row:hover {
                    z-index: 1;
                }
                .ecom-row>div.core__row--columns.core__row--full {
                    max-width: 100%;
                }
                @media (min-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { height: 300%; top: -100%; }
                }
                @media (max-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { width: 300%; left: -100%; }
                }
                @supports not (aspect-ratio: 16 / 9) {
                    .ecom-video-background-youtube:before {
                        display: block;
                        content: "";
                        width: 100%;
                        padding-top: 56.25%;
                    }
                    .ecom-video-background-youtube .ecom-video-background {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    .ecom-video-background {
                        -o-object-fit: unset !important;
                        object-fit: unset !important;
                    }
                }
                @media (max-width: 767px) {
                    .ecom-section__video-bg .ecom-video-background-youtube {
                        display: none;
                    }
                }
                

                    .el__heading--tooltip-wrapper{
                        position: relative;
                        display: inline-block;
                    }
                    .el__heading--tooltip-wrapper svg{
                        width: 18px;
                        cursor: pointer;
                    }
                    .el__heading--tooltip-content{
                        line-height: 16px;
                        max-width: 200px;
                        position: absolute;
                        display: block;
                        width: max-content;
                        opacity: 0;
                        padding: 5px;
                        visibility: hidden;
                        font-size: 14px;
                        background-color: #545454;
                        color: #ffffff;
                        border-radius: 5px;
                        transition: .5s ease all;
                        z-index: 999;
                    }
                    .el__heading--tooltip-content.el__tooltip-tablet, .el__heading--tooltip-content.el__tooltip-mobile {
                        display: none;
                    }
                    .el__heading--tooltip-bottom{
                        left: 50%;
                        transform: translate(-50%, 10px);
                    }

                    .el__heading--tooltip-left{
                        transform: translate(-20px, -50%);
                        right: 100%;
                        top: 50%;
                    }
                    .el__heading--tooltip-top{
                        left: 50%;
                        bottom: 100%;
                        transform: translate(-50%, -10px);
                    }
                    .el__heading--tooltip-right {
                        top: 50%;
                        left: 100%;
                        transform: translate(20px, -50%);
                    }
                    .tooltip__arrow:before{
                        position: absolute;
                        content: '';
                        width: 8px;
                        height: 8px;
                        background: inherit;
                        z-index: -1;
                    }
                    .tooltip__arrow.el__heading--tooltip-bottom:before{
                        top: 0;
                        transform: translate(-50%, -50%) rotate(45deg);
                        left: 50%;
                    }
                    .tooltip__arrow.el__heading--tooltip-top:before{
                        transform: translate(-50%,50%) rotate(45deg);
                        bottom: 0%;
                        left: 50%;
                    }
                    .tooltip__arrow.el__heading--tooltip-right:before{
                        transform: translate(-50%,50%) rotate(45deg);
                        bottom: 50%;
                        left: 0%;
                    }
                    .tooltip__arrow.el__heading--tooltip-left:before{
                        transform: translate(50%,50%) rotate(45deg);
                        bottom: 50%;
                        right: 0%;
                    }
                    .el__heading--tooltip-wrapper svg:hover~.el__heading--tooltip-bottom, .el__heading--tooltip-wrapper svg:hover~.el__heading--tooltip-top {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(-50%, 0);
                    }
                    .el__heading--tooltip-wrapper svg:hover~.el__heading--tooltip-left {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(-15px, -50%);
                    }
                    .el__heading--tooltip-wrapper svg:hover~.el__heading--tooltip-right {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(15px, -50%);
                    }
                    @media screen and (max-width: 1024px) {
                        .el__heading--tooltip-content.el__tooltip-desktop {
                            display: none;
                        }
                        .el__heading--tooltip-content.el__tooltip-tablet {
                            display: block;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        .el__heading--tooltip-content.el__tooltip-tablet {
                            display: none;
                        }
                        .el__heading--tooltip-content.el__tooltip-mobile {
                            display: block;
                        }
                    }
                
                    .image-resize {
                        width: auto !important;
                        max-width: 100% !important;
                    }
                    .ecom-base-image .ecom-container-image.resize .ecom-image-content-position.ecom-image-default picture {
                        height: var(--height-resize) !important;
                        width: var(--width-resize) !important;
                    }
                    .ecom-base-image .ecom-container-image.resize .ecom-image-content-position.ecom-image-default .ecom-image-picture img {
                        width: 100% !important;
                        height: 100% !important;
                    }
                    .ecom-container-image.resize .ecom-image-content-position.ecom-image-default.ecom-base-image-container-overlay{
                        width: var(--width-resize) !important;
                        user-select: none;
                        -ms-user-select: none;
                        -webkit-user-select: none;
                    }
                    .ecom-container-image.resize .ecom-image-picture * {
                        /*transition: none;*/
                        pointer-events: none;
                    }
                    .ecom-base-image.ecom-overlay > .ecom-overlay-text{
                        text-align:center
                    }
                    .ecom-image-align{
                        display:flex;
                    }
                    .ecom-image-picture-link,
                    .ecom-image-picture{
                        overflow: hidden;
                        width:100%;
                        height:100%;
                    }
                    .ecom-image-picture img {
                        min-height: 1px;
                    }
                    .ecom-base-image picture {
                        overflow: hidden;
                        flex:1 1 auto;
                        min-height:1px;
                    }
                    .ecom-base-image picture img{
                        display: block;
                        max-width: 100%;
                        height: auto;
                        width: 100%;
                    }
                    .ecom-base-image figure{
                        display: flex;
                    }
                    .ecom-container-image{
                        display: flex;
                        flex-direction: column;
                        width:100%;
                    }
                    .ecom-image-picture-link,
                    .ecom-image-content-position{
                        position: relative;
                    }
                    .ecom-base-image.ecom-overlay {
                        position: absolute;
                        z-index: 1;
                        opacity: 0.5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                    .ecom-image__caption{
                        width:100%;
                    }
                    .ecom-base-image .ecom-image-picture, .ecom-base-image .ecom-image-picture img {
                        width: 100%;
                        max-width: 100%;
                    }
                    .ecom-base-image .ecom-base-image-container-overlay:hover>.ecom-overlay {
                        background-color: rgba(17, 24, 39, 0.3);
                    }
                
                    .ecom-element-button.ecom-button-default{
                        display:flex;
                    }
                    a.ecom__element--button{
                        display: inline-flex;
                        align-items: center;
                        text-decoration: none;
                        text-align:center
                    }
                    .ecom__element--button-icon{
                        display:inline-flex;
                        color:inherit;
                    }
                    .ecom__element--button-icon svg{
                        width:24px;
                        height:auto
                    }
                
@keyframes shake{from,to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}}.ecom-core.ecom-7lamqwkaa4p{width: 100%;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-7lamqwkaa4p{width: 100%;}}.ecom-core.ecom-ckje6d9s24w>div.core__row--columns{height: auto;}.ecom-core.ecom-ckje6d9s24w>div.core__row--columns>.ecom-column.ecom-core>.core__column--wrapper>.core__blocks{min-height: 499px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-ckje6d9s24w>div.core__row--columns>.ecom-column.ecom-core>.core__column--wrapper>.core__blocks{min-height: 435px;}.ecom-core.ecom-ckje6d9s24w>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 15px;}}.ecom-core.ecom-51olhodhjoi{width: 25%;}.ecom-core.ecom-51olhodhjoi>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-items: center;align-content: center;}.ecom-core.ecom-51olhodhjoi>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: center;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-51olhodhjoi{width: 50%;}.ecom-core.ecom-51olhodhjoi>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-start;}}@media screen and (max-width: 767px) and (min-width: 101px){html body .ecom-core.ecom-nnyyz4nobt .ecom-core.ecom-51olhodhjoi>div.core__column--wrapper{margin-top: -130px !important;margin-bottom: -150px !important;}}.ecom-core.ecom-vvgj7lzx0i>div.core__row--columns{height: auto;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-vvgj7lzx0i>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}}.ecom-core.ecom-vvgj7lzx0i{background-color: #D9D9D9;border-radius: 10px;}.ecom-core.ecom-vvgj7lzx0i{margin-top: 70px !important;padding-top: 120px !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-vvgj7lzx0i{padding-top: 120px !important;padding-bottom: 25px !important;}}.ecom-core.ecom-fv88slm30xm{width: 100%;}.ecom-core.ecom-fv88slm30xm>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-end;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-fv88slm30xm{width: 100%;}}.ecom-core.ecom-ux4fdsskhp .ecom__element--button{gap: 0px;}.ecom-core.ecom-ux4fdsskhp .ecom-button-default{justify-content: center;}.ecom-core.ecom-ux4fdsskhp .ecom__element--button{font-size: 20px;font-weight: 700;border-radius: 10px;padding: 5px 20px 5px 20px;}.ecom-core.ecom-ux4fdsskhp .ecom__element--button:hover{color: #fafafa;}.ecom-core.ecom-ux4fdsskhp .ecom__element--button.animated{animation-name: shake;;animation-duration: .75s;;}.ecom-core.ecom-ux4fdsskhp .ecom-button-icon svg{height: 0px;width: 0px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-ux4fdsskhp .ecom__element--button{font-size: 14px;}}.ecom-core.ecom-ux4fdsskhp{margin-bottom: 0px !important;}.ecom-core.ecom-f8c6wriwic .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-f8c6wriwic .element__heading .ecom__heading,.ecom-core.ecom-f8c6wriwic .element__heading .ecom__heading a{font-weight: 700;font-size: 24px;line-height: 1em;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-f8c6wriwic .element__heading .ecom__heading{text-align: left;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-f8c6wriwic .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-f8c6wriwic .element__heading .ecom__heading,.ecom-core.ecom-f8c6wriwic .element__heading .ecom__heading a{font-size: 14px;}}.ecom-core.ecom-f8c6wriwic{padding-bottom: 0 !important;}.ecom-core.ecom-s6g08dcb16j .ecom-image-align{align-items: center;}.ecom-core.ecom-s6g08dcb16j .ecom-image-default{width: 284px !important;max-width: 100% !important;}.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture picture{height: 200px !important;}.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture ,.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture .ecom-image-default{opacity: 1;}.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture:hover ,.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture:hover .ecom-image-default{opacity: 1;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-s6g08dcb16j .ecom-image-default{width: 160px !important;max-width: 285px !important;}.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-s6g08dcb16j .ecom-base-image .ecom-image-picture picture{height: 144px !important;}}.ecom-core.ecom-s6g08dcb16j{position: absolute;bottom: 47%;z-index: 9999 !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-s6g08dcb16j{padding-bottom: 0px !important;margin-right: 15px !important;bottom: 120px;}}.ecom-core.ecom-5dgpls5z9p{width: 25%;}.ecom-core.ecom-5dgpls5z9p>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-items: center;align-content: center;}.ecom-core.ecom-5dgpls5z9p>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: center;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-5dgpls5z9p{width: 50%;}.ecom-core.ecom-5dgpls5z9p>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-start;}}@media screen and (max-width: 767px) and (min-width: 101px){html body .ecom-core.ecom-nnyyz4nobt .ecom-core.ecom-5dgpls5z9p>div.core__column--wrapper{margin-top: -130px !important;margin-bottom: -150px !important;}}.ecom-core.ecom-skcd5aee5mi>div.core__row--columns{height: auto;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-skcd5aee5mi>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}}.ecom-core.ecom-skcd5aee5mi{background-color: #D9D9D9;border-radius: 10px;}.ecom-core.ecom-skcd5aee5mi{margin-top: 70px !important;padding-top: 120px !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-skcd5aee5mi{padding-bottom: 25px !important;}}.ecom-core.ecom-dyf0osntw4l{width: 100%;}.ecom-core.ecom-dyf0osntw4l>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-end;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-dyf0osntw4l{width: 100%;}}.ecom-core.ecom-bx171ncj9q4 .ecom__element--button{gap: 0px;}.ecom-core.ecom-bx171ncj9q4 .ecom-button-default{justify-content: center;}.ecom-core.ecom-bx171ncj9q4 .ecom__element--button{font-size: 20px;font-weight: 700;border-radius: 10px;padding: 5px 20px 5px 20px;}.ecom-core.ecom-bx171ncj9q4 .ecom__element--button:hover{color: #fafafa;}.ecom-core.ecom-bx171ncj9q4 .ecom__element--button.animated{animation-name: shake;;animation-duration: .75s;;}.ecom-core.ecom-bx171ncj9q4 .ecom-button-icon svg{height: 0px;width: 0px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-bx171ncj9q4 .ecom__element--button{font-size: 14px;}}.ecom-core.ecom-bx171ncj9q4{margin-bottom: 0px !important;}.ecom-core.ecom-fqk7v902g2p .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-fqk7v902g2p .element__heading .ecom__heading,.ecom-core.ecom-fqk7v902g2p .element__heading .ecom__heading a{font-weight: 700;font-size: 24px;line-height: 1em;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-fqk7v902g2p .element__heading .ecom__heading{text-align: left;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-fqk7v902g2p .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-fqk7v902g2p .element__heading .ecom__heading,.ecom-core.ecom-fqk7v902g2p .element__heading .ecom__heading a{font-size: 14px;}}.ecom-core.ecom-fqk7v902g2p{padding-bottom: 0 !important;}.ecom-core.ecom-oocsvh805sr .ecom-image-align{align-items: center;}.ecom-core.ecom-oocsvh805sr .ecom-image-default{width: 234px !important;max-width: 100% !important;}.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture picture{height: 234px !important;}.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture ,.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture .ecom-image-default{opacity: 1;}.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture:hover ,.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture:hover .ecom-image-default{opacity: 1;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-oocsvh805sr .ecom-image-default{width: 140px !important;}.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-oocsvh805sr .ecom-base-image .ecom-image-picture picture{height: 140px !important;}}.ecom-core.ecom-oocsvh805sr{position: absolute;bottom: 45%;z-index: 9999 !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-oocsvh805sr{bottom: 125px;}}.ecom-core.ecom-m41oytbg7tm{width: 25%;}.ecom-core.ecom-m41oytbg7tm>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-items: center;align-content: center;}.ecom-core.ecom-m41oytbg7tm>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: center;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-m41oytbg7tm{width: 50%;}.ecom-core.ecom-m41oytbg7tm>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-start;}}@media screen and (max-width: 767px) and (min-width: 101px){html body .ecom-core.ecom-nnyyz4nobt .ecom-core.ecom-m41oytbg7tm>div.core__column--wrapper{margin-top: -50px !important;}}.ecom-core.ecom-llqy413hbif>div.core__row--columns{height: auto;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-llqy413hbif>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}}.ecom-core.ecom-llqy413hbif{background-color: #D9D9D9;border-radius: 10px;}.ecom-core.ecom-llqy413hbif{margin-top: 70px !important;padding-top: 120px !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-llqy413hbif{padding-bottom: 25px !important;}}.ecom-core.ecom-dqc5kfnxk78{width: 100%;}.ecom-core.ecom-dqc5kfnxk78>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-end;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-dqc5kfnxk78{width: 100%;}}.ecom-core.ecom-anjrpmheff .ecom__element--button{gap: 0px;}.ecom-core.ecom-anjrpmheff .ecom-button-default{justify-content: center;}.ecom-core.ecom-anjrpmheff .ecom__element--button{font-size: 20px;font-weight: 700;border-radius: 10px;padding: 5px 20px 5px 20px;}.ecom-core.ecom-anjrpmheff .ecom__element--button:hover{color: #fafafa;}.ecom-core.ecom-anjrpmheff .ecom__element--button.animated{animation-name: shake;;animation-duration: .75s;;}.ecom-core.ecom-anjrpmheff .ecom-button-icon svg{height: 0px;width: 0px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-anjrpmheff .ecom__element--button{font-size: 14px;}}.ecom-core.ecom-anjrpmheff{margin-bottom: 0px !important;}.ecom-core.ecom-c4ywym43p6v .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-c4ywym43p6v .element__heading .ecom__heading,.ecom-core.ecom-c4ywym43p6v .element__heading .ecom__heading a{font-weight: 700;font-size: 20px;line-height: 1em;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-c4ywym43p6v .element__heading .ecom__heading{text-align: left;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-c4ywym43p6v .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-c4ywym43p6v .element__heading .ecom__heading,.ecom-core.ecom-c4ywym43p6v .element__heading .ecom__heading a{font-size: 14px;}}.ecom-core.ecom-c4ywym43p6v{padding-bottom: 0 !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-c4ywym43p6v{padding-right: 15px !important;padding-left: 15px !important;}}.ecom-core.ecom-a6rj6aixdwe .ecom-image-align{align-items: center;}.ecom-core.ecom-a6rj6aixdwe .ecom-image-default{width: 284px !important;max-width: 100% !important;}.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture picture{height: 200px !important;}.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture ,.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture .ecom-image-default{opacity: 1;}.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture:hover ,.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture:hover .ecom-image-default{opacity: 1;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-a6rj6aixdwe .ecom-image-default{width: 171px !important;max-width: 348px !important;}.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-a6rj6aixdwe .ecom-base-image .ecom-image-picture picture{height: 118px !important;}}.ecom-core.ecom-a6rj6aixdwe{position: absolute;bottom: 50%;z-index: 9999 !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-a6rj6aixdwe{padding-bottom: 0px !important;margin-right: 15px !important;right: -12px;bottom: 300px;}}.ecom-core.ecom-o4qe21nduz{width: 25%;}.ecom-core.ecom-o4qe21nduz>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-items: center;align-content: center;}.ecom-core.ecom-o4qe21nduz>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: center;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-o4qe21nduz{width: 50%;}.ecom-core.ecom-o4qe21nduz>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-start;}}@media screen and (max-width: 767px) and (min-width: 101px){html body .ecom-core.ecom-nnyyz4nobt .ecom-core.ecom-o4qe21nduz>div.core__column--wrapper{margin-top: -50px !important;}}.ecom-core.ecom-mt6ch1wnoe>div.core__row--columns{height: auto;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-mt6ch1wnoe>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}}.ecom-core.ecom-mt6ch1wnoe{background-color: #D9D9D9;border-radius: 10px;}.ecom-core.ecom-mt6ch1wnoe{margin-top: 70px !important;padding-top: 120px !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-mt6ch1wnoe{padding-bottom: 25px !important;}}.ecom-core.ecom-b81fne2mnxu{width: 100%;}.ecom-core.ecom-b81fne2mnxu>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-content: flex-end;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-b81fne2mnxu{width: 100%;}}.ecom-core.ecom-7yf6l4njn7t .ecom__element--button{gap: 0px;}.ecom-core.ecom-7yf6l4njn7t .ecom-button-default{justify-content: center;}.ecom-core.ecom-7yf6l4njn7t .ecom__element--button{font-size: 20px;font-weight: 700;border-radius: 10px;padding: 5px 20px 5px 20px;}.ecom-core.ecom-7yf6l4njn7t .ecom__element--button:hover{color: #fafafa;}.ecom-core.ecom-7yf6l4njn7t .ecom__element--button.animated{animation-name: shake;;animation-duration: .75s;;}.ecom-core.ecom-7yf6l4njn7t .ecom-button-icon svg{height: 0px;width: 0px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-7yf6l4njn7t .ecom__element--button{font-size: 14px;}}.ecom-core.ecom-7yf6l4njn7t{margin-bottom: 0px !important;}.ecom-core.ecom-4vek6qs75pg .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-4vek6qs75pg .element__heading .ecom__heading,.ecom-core.ecom-4vek6qs75pg .element__heading .ecom__heading a{font-weight: 700;font-size: 20px;line-height: 1em;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-4vek6qs75pg .element__heading .ecom__heading{text-align: left;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-4vek6qs75pg .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-4vek6qs75pg .element__heading .ecom__heading,.ecom-core.ecom-4vek6qs75pg .element__heading .ecom__heading a{font-size: 14px;}}.ecom-core.ecom-4vek6qs75pg{padding-bottom: 0 !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-4vek6qs75pg{padding-right: 5px !important;padding-bottom: 0px !important;padding-left: 5px !important;}}.ecom-core.ecom-k1t36sbcwx .ecom-image-align{align-items: center;}.ecom-core.ecom-k1t36sbcwx .ecom-image-default{width: 234px !important;max-width: 100% !important;}.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture picture{height: 234px !important;}.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture ,.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture .ecom-image-default{opacity: 1;}.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture:hover ,.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture:hover .ecom-image-default{opacity: 1;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-k1t36sbcwx .ecom-image-default{width: 130px !important;}.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture img,.ecom-core.ecom-k1t36sbcwx .ecom-base-image .ecom-image-picture picture{height: 130px !important;}}.ecom-core.ecom-k1t36sbcwx{margin-bottom: 0px !important;position: absolute;bottom: 45%;z-index: 9999 !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-k1t36sbcwx{bottom: 275px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-hohhdph3f1i>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-hohhdph3f1i{margin-top: 25px !important;}}.ecom-core.ecom-wfmlhkno4x9{width: 100.00%;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-wfmlhkno4x9{width: 100%;}}.ecom-core.ecom-wfmlhkno4x9>.core__column--wrapper{background-color: #a70a10;}.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading,.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading a{font-weight: 700;font-size: 40px;line-height: 1.25em;letter-spacing: 0px;}.ecom-core.ecom-cxd17p1buat  .element__heading .ecom__heading,.ecom-core.ecom-cxd17p1buat  .element__heading .ecom__heading a{color: #ffffff;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading,.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading a{font-size: 40px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading{text-align: center;}.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading,.ecom-core.ecom-cxd17p1buat .element__heading .ecom__heading a{font-size: 24px;font-weight: 700;line-height: 27.6px;}}.ecom-core.ecom-cxd17p1buat{padding-bottom: 0px !important;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-cxd17p1buat{padding-top: 10px !important;padding-bottom: 10px !important;width: 100%;max-width:100%;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-nnyyz4nobt>.core__row--columns>.ecom-column>.core__column--wrapper{padding: 0px;}}

